langchain
langchain-core
langchain-community
langchain-google-genai
google-generativeai
langchain-groq
langchain_huggingface
unstructured[pdf]
langchain-text-splitters
chromadb
streamlit
sentence-transformers
python-dotenv